*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header css */
.header{
  width: 100%;
  padding: 20px 100px;
  background: #f6f8ff;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.logo{
  font-family: 'Oswald', sans-serif;
  color: rgb(15, 15, 59);
}
.header:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: rgb(15, 15, 59);
  font-weight: 400;
  font-size: 17px;
}
/*  Content area */
.img1{
  width: 100%;
  object-fit: contain;
}
/* Footer */

.footer{
  border: 1px solid black;
  width: 100%;
  height: 500px;
}

